[advisories]
vulnerability = "deny"
unmaintained = "deny"
yanked = "deny"
notice = "deny"


[licenses]
default = "deny"
unlicensed = "deny"
copyleft = "deny"
allow = ["MIT", "Unicode-DFS-2016", "Apache-2.0", "BSD-3-Clause", "Unlicense", "Zlib"]
private = { ignore = true }

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]

[[licenses.clarify]]
name = "surrealdb"
expression = "Apache-2.0"
license-files = [
    { path = "LICENSE", hash = 0x08ad5bad }
]

[sources]
allow-git = []

[bans]
multiple-versions = "allow"